html {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

body {
    width: 100vw;
    max-width: 124rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

body,
body * {
    box-sizing: border-box;
}

body > * {
    margin-top: 2rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

header,
section.services,
section.discount,
section.meet-our-team,
section.reviews,
section.contact-us,
footer {
    width: 100%;
}

/* header */

header {
    text-align: center;
    vertical-align: middle;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    width: 50%;
    display: flex;
}

nav li {
    width: 33.3333%;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
}

h1 span {
    color: rgb(200,0,0);
    font-size: 1.2rem;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

@media (max-width: 700px) {
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav ul {
        width: 100%;
        padding-bottom: 1rem;
    }
    
}

/* logo figure */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

/* services */

section.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

div.services-title-container {
    display: flex;
    width: 60%;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.services-title-container > div {
    width: 33.3333%;
}

.services-title-container h3 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.services-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-body-container {
    width: 100%;
    display: flex;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    margin-top: 2rem;
}

.service-body-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.service-body {
    font-size: 2rem;
}

.figure-body img {
    width: 100%;
}

@media (max-width: 1000px) {

    div.services-title-container {
        display: flex;
        width: 100%;
        box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    }
    
    .services-title-container h3 {
        font-size: 1.6rem;
    }
    
    .services-container {
        width: 100%;
    }
    
    .service-body-container {
        flex-direction: column;
    }
    
    .service-body-container > div {
        width: 100%;
        padding: 1rem;
    }
    
    .service-body {
        font-size: 1.6rem;
    }

}

#pac-member,
#commercial {
    display: none;
}

/* div.services-container {
    align-self: stretch;
} */

/* discounts and certs */

.discount img {
    height: 16rem;
}

.discount {
    display: flex;
    width: 100%;
}

.discount > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
    padding: 2rem;
    font-size: 2rem;
}

@media (max-width: 1100px) {
    
    .discount {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .discount > div {
        width: 100%;
    }
}

.discount h2 {
    font-size: 2.4rem;
    margin: 1rem 0;
}

/* team */

h3.meet-our-team {
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem;
}

section.meet-our-team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.employee-photo,
.employee-body {
    width: 50%;
}

.employee-photo img {
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.employee-body > * {
    padding: 2rem;
    font-size: 2rem;
}

.slider {
  position: relative;
  width: 1000px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  margin-bottom: 2rem;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 1000px;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -1000px;;
  width: 10000px;
}

.slide {
  width: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
  border-radius: 2px;
  padding: 2rem 4rem;
}

@media (max-width: 1100px) {
    
    .employee-photo,
    .employee-body {
        width: 100%;
        padding: 1rem;
    }

    .slider {
      position: relative;
      width: 600px;
      box-shadow: 3px 3px 10px rgba(0,0,0,.2);
      margin-bottom: 2rem;
    }
    
    .wrapper {
      overflow: hidden;
      position: relative;
      width: 600px;
      z-index: 1;
    }
    
    .slides {
      display: flex;
      position: relative;
      top: 0;
      left: -600px;;
      width: 10000px;
    }
    
    .slide {
      width: 600px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      position: relative;
      border-radius: 2px;
      padding: 2rem 4rem;
    }
}

@media (max-width: 700px) {
    
    body {
        padding: 0;
    }

    .employee-photo,
    .employee-body {
        width: 100%;
        padding: 1rem 0;
    }

    .employee-body span,
    .employee-body p {
        font-size: 1.6rem;
    }

    .slider {
      position: relative;
      width: 300px;
      box-shadow: 3px 3px 10px rgba(0,0,0,.2);
      margin-bottom: 2rem;
    }
    
    .wrapper {
      overflow: hidden;
      position: relative;
      width: 300px;
      z-index: 1;
    }
    
    .slides {
      display: flex;
      position: relative;
      top: 0;
      left: -300px;;
      width: 10000px;
    }
    
    .slide {
      width: 300px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      position: relative;
      border-radius: 2px;
      padding: 2rem 4rem;
    }
}

.slides.shifting {
    transition: left .2s ease-out;
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(.8);
}

/* reviews */

.reviews {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.reviews > div {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 1150px) {
    
    .reviews {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        padding: 2rem;
    }

    .reviews > div {
        width: 35rem;
    }

}

/* contact form */

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us-head {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.contact-us-head > * {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

.contact-us-head h6 {
    font-size: 2.4rem;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.inputs {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    
    .inputs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

}

.inputs > div {
    width: 50%;
    padding: 1rem 0 0 1rem;
}

.inputs input {
    width: 100%;
}

.inputs div.textarea {
    width: 100%;
    height: 20rem;
}

.textarea textarea {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family:'Times New Roman', Times, serif;
}

.submits {
    display: flex;
}

.submits > div {
    padding: 1rem 0 0 1rem;
}

/* footer */

footer {
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

